// wrapper normal.
@mixin site-wrapper($max-width: $base-content-width) {
    @extend %site-padding;
    max-width: $max-width;
    margin: 0 auto;
}

// wrapper no padding.
@mixin wrapper($max-width: $base-content-width) {
    max-width: $max-width;
    margin: 0 auto;
}

%site-padding {
    padding-left: $base-content-padding;
    padding-right: $base-content-padding;
}

@mixin site-container {
    @extend %site-padding;
    max-width: $base-content-width;
    margin: 0 auto;
}
