//Base
$base-font-family: "Roboto", Arial, sans-serif;
$title-font-family: "Montserrat", sans-serif;

// Container
$base-content-padding: 16px;
$base-content-full-width: 1200px;
$base-content-width: $base-content-full-width + ($base-content-padding * 2);

// Grid
$base-gutter-size: $base-content-padding;
$base-col-number: 12;
